/* NORMALIZE*/
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
/*BODY SECTION*/
.body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #212121;
    background: #FFFFFF;
}
/*LOGO SECTION*/

.logo {
font-family: 'Raleway', sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.logo-web {
    color: #2196F3;
}
.logo-studio {
    color: #000000;
}.logo-studio-footer {
    color: #FFFFFF;
}
/* HEADER SECTION*/
.header {
    background: #FFFFFF;
}
.menu-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
cursor: pointer;
}
.menu-link:hover,
.menu-link:focus {
    color: #2196F3;
}
.contact-item {

}

.mail-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
cursor: pointer;
}
.mail-link:hover,
.mail-link:focus {
    color: #2196F3;
}
.tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    cursor: pointer;
    }
.tel-link:hover, 
.tel-link:focus {
        color: #2196F3;
}
.list {
    list-style: none;
}
.link {
text-decoration: none;
}
/*HERO SECTION*/
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;

letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}
.hero-btn {
font-family: inherit;
font-weight: bold;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;
color: #FFFFFF;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}
.hero-btn:hover,
.hero-btn:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

.hero {
background: #2F303A;
}

/*BASICS SECTION*/
.basics-item {

}
.basics-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    

}
.basics-t-list {

    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    
    color: #757575;
}

.classes {

}
.classes-title {

font-weight: bold;
font-size: 36px;
line-height: 1.17;

letter-spacing: 0.03em;

}
.classes-list {}
.classes-item {}
.classes-img{}

.team {
    background: #F5F4FA;
}
.team-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
  
    letter-spacing: 0.03em;
}
.team-list {

}
.team-item {

}
.team-img {

}
.name-tile {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
  
    letter-spacing: 0.03em;
}
.position {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;

    letter-spacing: 0.03em;
    
    color: #757575;
}

.footer {
    background: #2F303A;
}
.address {}
.address-list {}
.address-item {}
.address-map-link {
    font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
cursor: default;
}
.curs-def {
    cursor: default;
}
.address-mail-link{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}
.address-tel-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/*PORTFOLIO SECTION*/ 
/*FILTER SECTION*/
.portfolio {

}
.filter-item {
    
}
.btn-total { 
    font-family: inherit;
    background: #F5F4FA;
    border-radius: 4px;  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    
}
.btn-total:hover,
.btn-total:focus {
    color: #FFFFFF;
    background: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
0px 1px 2px rgba(0, 0, 0, 0.08),
 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
.btn-all {}
.btn-web {}
.btn-app {}
.btn-desing {}
.btn-marketing {}

/*WORK-LIST SECTION*/
.work-list {}
.work-list-item{}
.work-link-all {}
.work-link-marketing {}
.work-link-app {}
.work-link-desing {}
.work-link-web {}
.work-img {}
.work-title {
    font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.work-section {
font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;

color: #757575;
}









